<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDoList - Django</title>
  <link rel="stylesheet" href="styles.css"> <!-- Arquivo CSS externo (opcional) -->
</head>

{% block content %}

<body>
  <main>
    <section>
      <h2>To do List - Django</h2>
      <form method="POST">
        {% csrf_token %}
        <input type="text" name="descricao" maxlength='100' required/>
        <button type="submit">Salvar</button>
      </form>

      <h2> Minhas Tarefas </h2>
      <table>
        <thead>
          <tr>
            <th>Descricao<th>
            <th>Status</th>
            <th>Acoes</th>
          </tr>
        </thead>
        <tbody>
        {% for tarefa in tarefas %}
          <tr>
            <td>{{ tarefa.descricao }}</td>
            <td>
              {% if tarefa.status == False%}Não concluído{% endif %}
              {% if tarefa.status == True%}Concluído{% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 - Willian S.</p>
  </footer>
</body>

{% endblock %}

</html>
