<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDoList - Django</title>
  <link rel="stylesheet" href=""> <!-- Arquivo CSS externo (opcional) -->
</head>

{% block content %}

<body>
  <main>
    <section>
      <h2>To do List - Django</h2>
      <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ tarefa_edicao.id|default:'' }}">
        <input type="text" name="descricao" maxlength='100' required value="{{ tarefa_edicao.descricao|default:'' }}"/>
        <button type="submit">Salvar</button>
      </form>

      <h2> Minhas Tarefas </h2>
      <table>
        <thead>
          <tr>
            <th>Descricao<th>
            <th>Status</th>
            <th>Acoes</th>
          </tr>
        </thead>
        <tbody>
        {% for tarefa in tarefas %}
          <tr>
            <td>{{ tarefa.descricao }}</td>
            <td>
               {% if not tarefa.status %}Não concluído{% else %}Concluído{% endif %}
            </td>
            <td>
              <!-- Link que recarrega a página passando o id da tarefa para edição -->
              <a href="?editar={{ tarefa.id }}">Editar</a>

              <form method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ tarefa.id }}">
                <input type="hidden" name="acao" value="excluir">
                <button type="submit">Excluir</button>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <h3>Completas: {{ tarefas_completas }}</h3>
      <h3>Incompletas: {{ tarefas_incompletas }}</h3>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 - Willian S.</p>
  </footer>
</body>

{% endblock %}

</html>
